[submodule "chef/cookbooks/apt"]
	path = chef/cookbooks/apt
  url = https://github.com/chef-cookbooks/apt.git
[submodule "chef/cookbooks/avr"]
	path = chef/cookbooks/avr
  url = https://github.com/h5b/chef-avr.git
[submodule "chef/cookbooks/git"]
	path = chef/cookbooks/git
	url = https://github.com/sous-chefs/git.git
[submodule "chef/cookbooks/vim"]
	path = chef/cookbooks/vim
  url = https://github.com/sous-chefs/vim.git
